{% extends '../layouts/app.twig' %}

{% block content %}

    <div class="container" id="vm" xmlns:v-on="http://www.w3.org/1999/xhtml">
        <div class="row">
            <div class="col-md-8">
                {% include '../partials/co-ordinate.twig' %}
            </div>

            <div class="col-md-4">
                <div class="input-form needs-validation">
                    {% for coordinates in [['x1', 'y1'], ['x2', 'y2'], ['x3', 'y3'], ['x4', 'y4']] %}
                        <div class="form-label-group row">
                            {% for el in coordinates %}
                                <div class="col-md-6">
                                    <input type="number" min="1" :max="dim" id="{{ el }}" class="form-control"
                                           placeholder="Value of {{ el }}"
                                           v-model.number="{{ el }}" required
                                           v-on:keyup.enter="draw"
                                           v-on:focus="focused($event)"
                                           v-on:blur="blurred"
                                    >
                                    <label for="{{ el }}">Value of {{ el }}</label>
                                    <div class="invalid-feedback">{{ el }} must be a positive number less than 21</div>
                                    <div class="valid-feedback">Now click <b>Draw</b> or press <b>Enter</b></div>
                                </div>
                            {% endfor %}
                        </div>

                    {% endfor %}

                    <div class="form-label-group row">
                        <div class="col-md-12">
                            <button class="btn btn-lg btn-primary btn-block" type="button" v-on:click="draw">
                                Draw
                            </button>
                        </div>
                    </div>

                    <div class="form-label-group row">

                        <div class="col-md-6">
                            <input type="number" id="deg" class="form-control"
                                   placeholder="Degree"
                                   v-model.number="deg" required
                                   v-on:keyup.enter="draw"
                                   v-on:focus="focused($event)"
                                   v-on:blur="blurred"
                            >
                            <label for="deg">Degree</label>
                            <div class="invalid-feedback">Degree must be a positive number less than 360</div>
                            <div class="valid-feedback">Now click <b>Draw</b> or press <b>Enter</b></div>
                        </div>


                        <div class="col-md-6">
                            <button class="btn btn-lg btn-primary btn-block" type="button" v-on:click="rotate">
                                Rotate
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="/javascripts/mixins.js"></script>
    <script>
        (function () {
            new Vue({
                el: '#vm',
                mixins: [HandlesQuadrantMixin],
                data: {
                    plane: [[]],
                    dim: 10,
                    lim: undefined,
                    x1: 1,
                    y1: 1,
                    x2: 6,
                    y2: 3,
                    x3: 5,
                    y3: 5,
                    x4: 2,
                    y4: 6,
                    deg: 0
                },
                methods: {
                    isValidated: function () {
                        return true;
                    },

                    draw: function () {
                        if (!this.isValidated()) {
                            this.showErrorAlert();
                            return;
                        }

                        this.resetPlane();

                        this.mark(this.x1, this.y1);
                        this.mark(this.x2, this.y2);
                        this.mark(this.x3, this.y3);
                        this.mark(this.x4, this.y4);
                    },
                    drawLine: function (x1, y1, x2, y2) {
                        let angle = Math.atan((y2 - y1) / (x2 - x1));
                        if (y1 > y2) {
                            x1 = x1 + x2;
                            x2 = x1 - x2;
                            x1 = x1 - x2;

                            y1 = y1 + y2;
                            y2 = y1 - y2;
                            y1 = y1 - y2;
                        }
                        const dx = x2 - x1;
                        const dy = y2 - y1;
                        let d2, d1, d, autoX, incX;
                        if (angle > 0) {
                            if (angle <= Math.PI / 4) {
                                d2 = 2 * dy;
                                d1 = d2 - 2 * dx;
                                d = d2 - dx;
                                autoX = true;
                                incX = 1;
                            } else {
                                d2 = 2 * dx;
                                d1 = d2 - 2 * dy;
                                d = d2 - dy;
                                autoX = false;
                                incX = 1;
                            }
                        } else {
                            if (-angle >= Math.PI / 4) {
                                d2 = -2 * dx;
                                d1 = d2 - 2 * dy;
                                d = d2 - dy;
                                autoX = false;
                                incX = -1;
                            } else {
                                d2 = 2 * dy;
                                d1 = d2 + 2 * dx;
                                d = d2 + dx;
                                autoX = true;
                                incX = -1;
                            }
                        }
                        let x = x1, y = y1;

                        this.mark(x, y);

                        while (!(x === x2 && y === y2)) {
                            if (d < 0) {
                                d += d2;
                            }
                            else {
                                if (autoX) {
                                    y++;
                                } else {
                                    x += incX;
                                }
                                d += d1;
                            }

                            if (autoX) {
                                x += incX;
                            } else {
                                y++;
                            }
                            this.mark(x, y);
                        }
                    },
                    rotate: function () {
                        if (!this.isValidated()) {
                            this.showErrorAlert();
                            return;
                        }
                        const cos = Math.cos((Math.PI / 180) * this.deg);
                        const sin = Math.sin((Math.PI / 180) * this.deg);

                        this.resetPlane();

                        let x = [this.x1, this.x2, this.x3, this.x4];
                        let y = [this.y1, this.y2, this.y3, this.y4];
                        for (let i = 0; i < 4; i++) {
                            x[i] = x[i] * cos - y[i] * sin;
                            y[i] = x[i] * sin + y[i] * cos;
                        }

                        for (let i = 1; i <= 4; i++) {
                            this.drawLine(x[i - 1], y[i - 1], x[i % 4], y[i % 4]);
                        }
                    },
                    mark: function (x, y) {
                        x = Math.round(x);
                        y = Math.round(y);
                        this.plane[this.dim - y][x + this.dim] = 1;
                    },
                    focused: function () {

                    },
                    blurred: function () {

                    },
                    showErrorAlert: function () {

                    }
                }
            })
        })()
    </script>
{% endblock %}