{% extends '../layouts/app.twig' %}

{% block style %}
    <link rel="stylesheet" href="/stylesheets/matrix.css">
{% endblock %}

{% block content %}
    <div class="container" id="vm" xmlns:v-on="http://www.w3.org/1999/xhtml">
        <div class="row">
            <div class="col-md-8">
                {% include '../partials/matrix.twig' %}
            </div>


            <div class="col-md-4">
                <div class="input-form needs-validation">
                    {% for el in ['x1', 'y1', 'x2', 'y2'] %}
                        <div class="form-label-group row">
                            <input type="number" min="1" :max="dim" id="{{ el }}" class="form-control"
                                   placeholder="Value of {{ el }}"
                                   v-model.number="{{ el }}" required
                                   v-on:keyup.enter="draw"
                                   v-on:focus="focused($event)"
                                   v-on:blur="blurred"
                            >
                            <label for="{{ el }}">Value of {{ el }}</label>
                            <div class="invalid-feedback">{{ el }} must be a positive number less than 21</div>
                            <div class="valid-feedback">Now click <b>Draw</b> or press <b>Enter</b></div>
                        </div>

                    {% endfor %}

                    <div class="form-group row">
                        <button class="btn btn-lg btn-primary btn-block" type="button" v-on:click="draw">Draw</button>
                    </div>

                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="/javascripts/scan/line.js"></script>
{% endblock %}